@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';
@import './common/constants.scss';

html { font-size: 62.5%; }

body,
html {
  font-family: 'OpenSans', sans-serif;
  font-stretch: normal;
  font-style: normal;
  min-height: 100vh;
}

h1 { font-size: 2em; }

h2 {
  font-size: 1.8em;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
}

label {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.options-input {
  select { text-transform: uppercase; }
}

.fields { border: .5px solid $black; }

.buttons-black {
  background-color: $black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  height: 3.5rem;
  width: 18.5rem;

  span {
    color: $white;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.information-texts {
  font-size: 1.3em;
  font-weight: 600;
}

.uppercase-title { text-transform: uppercase; }

.smilies {
  height: 7.8rem;
  object-fit: contain;
  width: 13.3rem;
}

.error-message,
.error-bullets {
  color: $red;
}

.error-bullets { text-align: left; }

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden { display: none; }
  .loader-active { display: block; }
}

@media (max-width: $sm-screen) {
  .home-container { flex-direction: column; }
}
